/* Font Face Declarations */
@font-face {
    font-family: 'Mensura Slab Black Italic';
    src: url('../assets/Mensura/webFonts/MensuraSlabBlackItalic/font.woff2') format('woff2'),
         url('../assets/Mensura/webFonts/MensuraSlabBlackItalic/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* Color */
    --color-whitesmoke: #ededed;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-midnightblue: #191970;
    --color-lightskyblue: #87cefa;
    --color-khaki: #f0e68c;
    --font-barlow: 'Barlow';
    --font-barlow-semi-condensed: 'Barlow Semi Condensed';
    --font-mensura-slab-black-italic: 'Mensura Slab Black Italic';
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-20: 20px;
    
}

