
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* Color */
    --color-whitesmoke: #ededed;
    --color-purple: #9f248b;
    --color-white: #fff;
    --color-midnightblue: #001b70;
    --color-black: #000;
    --color-thistle: #cea2c8;
    --color-firebrick: #c61d1d;
    
    /* Font */
    --font-poppins: Poppins;
    --font-open-sans: Open Sans;
    
    /* FontSize */
    --font-size-12: 12px;
    --font-size-20: 20px;
    --font-size-40: 40px;
    
}
body {
    margin: 0;
    line-height: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
}

:root {
    /* Color */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-midnightblue: #001b70;
    --color-lightskyblue: #4bc8f5;
    --color-khaki: #f0e68c;
    --color-purple: #9f248b;
    
    /* Font */
    --font-barlow: 'Barlow', sans-serif;
    
    /* FontSize */
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
} 
