
body {
    margin: 0;
    line-height: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
}


:root {
    
    /* Color */
    --color-whitesmoke: #ededed;
    
}